.center{
  p{
    text-align: center;
    margin-top: 20px;
  }
  .has-error {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5%;
  text-align: center;
  animation: pulse 1s infinite;
  }
  text-align: center;
  a {
    text-align: center;
    margin-top: 20px;
  }
}
