.box-conversation {
  height: 70vh;
  overflow: scroll;
}

.single-conversation{
  background-color: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.answer {
  background-color: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: relative;
  width: 300px;
  overflow: hidden;
  clear: both;
  text-align: center;
}
.left {
    padding: 0 0 0 20px;
    text-align: left;
    float: left;
    // background-color:
}
.right {
  padding: 0 20px 0 0;
  text-align: right;
  float: right;
  background-color: #6495ed;
}
.answer .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}
.left .time {
    padding-left: 12px;
    color: #333333;
}

.name {
    font-size: 14px;
    line-height: 36px;
}

.individual-message {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 5px;
  .column {
  }
  p {
    color: #d15f00;
    &.small {
      color: #ccc;
      font-size: 0.8em;
    }
  }
}
