.box-conversation {
  height: 70vh;
  overflow: scroll;
  padding-bottom: 10px;
}
.box-messages {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  .message-header {
    display: flex;
    h1{
      text-align: center;
      font-size: 25px;
      border-bottom: 1px solid grey;
      width: 100%;
    }
    .btn-primary {
      font-size: 10px;
      position: absolute;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }
  }
}


.form-group{
  display: flex;
}

.single-conversation{
  cursor: pointer;
  background-color: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  &:hover {
    border-color: #007bff;
  }
}
.answer {
  background-color: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: relative;
  width: 300px;
  overflow: hidden;
  clear: both;
  text-align: center;
  margin: 5px;
}
.left {
  padding: 1px 0 2px 20px;
  text-align: left;
  float: left;
}
.right {
  padding: 1px 20px 2px 0;
  text-align: right;
  float: right;
  background-color: #6495ed;
  color: white;
}
.answer .time {
  font-size: 10px;
  line-height: 10px;
  position: relative;
  padding-bottom: 1px;
}


.name {
  font-size: 14px;
  line-height: 36px;
}
