@import './bootstrap/bootstrap.scss';
@import 'partials/_messenger.scss';
@import 'partials/_navbar.scss';
@import 'partials/_trip.scss';
@import 'partials/_tripForm.scss';
@import 'partials/_userShow.scss';

$sans-serif: 'Muli', sans-serif;
$serif: 'Playfair Display', serif;

body{
  font-family: $sans-serif;
  background-color: #fafafa;
}

img {
  max-width: 100%;
}

.box {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
}

.post-container {
  font-family: $serif;
  margin-top: 20px;
  margin-bottom: 20px;
  &:not(:last-of-type) {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
  }
}

.dropzone {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ddd;
    height: 100px;
    width: 221px;
    text-align: center;
    position: relative;
}

.card{
  width: 500px;
  // height: 100px;
}
.google-map {
  height: 250px;
  width: 100%;
}
