@import './bootstrap/bootstrap.scss';
body{
  font-family: Georgia sans-serif;
}
.navbar-nav .nav-item li a{
  color: white;
}
a:hover{
  text-decoration: none;
  // color:
}
.nav ul .right{
  float: right;
}
.nav li a:hover{
  text-decoration: none;
  background-color: transparent;
  color: white;
}
.card{
  width: 500px;
  // height: 100px;
}
.google-map {
  height: 250px;
  width: 250px;
}
